-i https://pypi.org/simple/
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
flask==1.1.2
formatizer==0.1.1
future==0.18.2
idna==2.10
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
pywikibot==3.0.20200508
redis==3.5.3
requests==2.25.1
six==1.15.0
urllib3==1.26.4
werkzeug==1.0.1
ww==0.2.1
