-i https://pypi.org/simple
async-timeout==4.0.2; python_version >= '3.6'
attrs==22.1.0; python_version >= '3.5'
coverage[toml]==6.4.4; python_version >= '3.7'
deprecated==1.2.13; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
fakeredis==1.9.1
importlib-metadata==4.12.0; python_version < '3.8'
iniconfig==1.1.1
packaging==21.3; python_version >= '3.6'
pluggy==1.0.0; python_version >= '3.6'
py==1.11.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
pyparsing==3.0.9; python_full_version >= '3.6.8'
pytest==7.1.3
pytest-cov==3.0.0
redis==4.3.4
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sortedcontainers==2.4.0
tomli==2.0.1; python_version >= '3.7'
typing-extensions==4.3.0; python_version < '3.8'
wrapt==1.14.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
zipp==3.8.1; python_version >= '3.7'
