-i https://pypi.org/simple/
attrs==20.3.0
coverage==5.5
fakeredis==1.4.1
importlib-metadata==3.7.3 ; python_version < '3.8'
more-itertools==8.7.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest-cov==2.8.1
pytest==5.4.2
redis==3.5.3
six==1.15.0
sortedcontainers==2.3.0
typing-extensions==3.7.4.3 ; python_version < '3.8'
wcwidth==0.2.5
zipp==3.4.1
