<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InteGraality - dashboard for Wikidata properties</title>
    <link rel="stylesheet" href="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
    <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript">
    >
    </script>
    <style>
    .dl-horizontal dd {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .container {
        width: auto;
        max-width: 800px;
        padding: 0 15px;
    }
    </style>
</head>

<body>
    <div class="container">
        <!-- Fixed navbar -->
        <div class="navbar navbar-static-top" role="navigation">
            <a href="{{ url_for('index') }}" class="navbar-brand">InteGraality</a>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a style="margin:0px;padding:0px;margin-top:4px" href="//tools.wmflabs.org">
                        <img src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Toolforge_logo.svg/40px-Toolforge_logo.svg.png" title="Powered by Wikimedia Toolforge" border="0" /></a>
                </li>
            </ul>
        </div>
        <hr />
        <!-- Content -->
        {% block content %}{% endblock %}
        <!-- Footer -->
        <footer class="footer navbar-fixed-bottom">
            <div class="container">
                <hr />
                <ul class="pull-left list-inline">
                    <li>Source available on <a href="https://github.com/JeanFred/integraality/">GitHub</a> (mirrored on <a href="https://phabricator.wikimedia.org/source/tool-integraality/">Wikimedia Phabricator</a>)
                    </li>
                </ul>
                <ul class="list-inline">
                    <ul class="pull-right list-inline">
                        <li>
                            <a href="https://phabricator.wikimedia.org/maniphest/task/create/?projects=tool-integraality">Report a bug</a>
                        </li>
                        <li>
                            <a href="https://phabricator.wikimedia.org/tag/tool-integraality/">Open tasks</a>
                        </li>
                        <li>
                            <a href="https://sal.toolforge.org/tools.integraality">Server Admin log</a>
                        </li>
                    </ul>
            </div>
        </footer>
    </div>
</body>

</html>