{% extends "base.html" %}
{% from "_macros.html" import phabricator_report_link %}
{% block content %}
<div class="alert alert-danger">
    <p>Something catastrophic happened when generating queries from page <a href="{{ page_url }}">{{ page_title }}</a>.</p>
    <p>This is very likely a bug in inteGraality itself, not a configuration issue.</p>
    <p>Please {{ phabricator_report_link(error_message) }}.</p>
    {% for error_line in error_message %}
    <p>{{ error_line }}</p>
    {% endfor %}
</div>
{% endblock %}