{% extends "base.html" %}

{% block content %}
<div class="alert">
	<p>From page <a href="{{ page_url }}">{{ page_title }}</a>, <a href="https://wikidata.org/wiki/Property:{{ property }}">{{ property }}</a>, {% if grouping == 'None' -%}
		without grouping
	{%- elif grouping -%}
		<a href="https://wikidata.org/wiki/{{ grouping }}">{{ grouping }}</a>
	{%- else -%}
		for the totals
	{%- endif %}.</p>
	<a class="btn btn-primary" href="https://query.wikidata.org/#{{positive_query}}" role="button">All items with the property set</a>
	<a class="btn btn-primary" href="https://query.wikidata.org/#{{negative_query}}" role="button">All items without the property set</a>
</div>
{% endblock %}
