{% extends "base.html" %}
{% if column.startswith("P") -%}
    {% set name = 'property' %}
{%- elif column.startswith("L") -%}
    {% set name = 'label' %}
{%- elif column.startswith("D") -%}
    {% set name = 'description' %}
{%- endif -%}
{% block content %}
<div class="alert">
    <p>From page <a href="{{ page_url }}">{{ page_title }}</a>, {% if column.startswith("P") -%}
        <a href="https://wikidata.org/wiki/Property:{{ column }}">{{ column }}</a>
    {%- elif column.startswith("L") -%}
        {{ column[1:] }} label
    {%- elif column.startswith("D") -%}
        {{ column[1:] }} description
    {%- endif %}, {% if grouping == 'None' -%}
        without <a href="https://wikidata.org/wiki/Property:{{ grouping_property }}">{{ grouping_property }}</a> grouping
    {%- elif grouping == 'UNKNOWN_VALUE' -%}
        with unknown value as <a href="https://wikidata.org/wiki/Property:{{ grouping_property }}">{{ grouping_property }}</a>
    {%- elif grouping -%}
        with <a href="https://wikidata.org/wiki/{{ grouping }}">{{ grouping }}</a> as <a href="https://wikidata.org/wiki/Property:{{ grouping_property }}">{{ grouping_property }}</a>
    {%- else -%}
        for the totals
    {%- endif %}.</p>
    <a class="btn btn-primary" href="https://query.wikidata.org/#{{positive_query}}" role="button">All items with the {{ name }} set</a>
    <a class="btn btn-primary" href="https://query.wikidata.org/#{{negative_query}}" role="button">All items without the {{ name }} set</a>
</div>
{% endblock %}
