{% extends "base.html" %}

{% block content %}

  <h1>InteGraality</h1>
  <p class='lead'>Dashboards of property coverage for a given part of Wikidata.</p>
      <div class="well">
      <dl class="dl-horizontal">
          <dt><a href='https://wikidata.org/wiki/Template:Property dashboard'>Property dashboard</a></dt>
              <dd>The template used to configure and invoke the tool</dd>
      </dl>
      </div>

      <div class="well">
      <dl class="dl-horizontal">
          <dt><a href='https://www.wikidata.org/wiki/Wikidata:WikiProject_sum_of_all_paintings/Property_statistics/Sandbox'>Sum of All Paintings</a></dt>
              <dd>The original example</dd>
          <dt><a href='https://www.wikidata.org/wiki/Wikidata:WikiProject_Video_games/Statistics/Platform'>Sum of all video games</a></dt>
              <dd>A nice one as well</dd>
      </dl>
      </div>
{% endblock %}